body {
    margin: 0%;
    padding: 0%;
    overflow: hidden;
    background-image: url("./IndexPictures/AiplaneBackground.jpeg");
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
}

.header, .form-container {
    display: block;
}

.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

#block1, #block2 {
    display: block;
}